@font-face {
    font-family: "VCR OSD Mono";
    src: url("/misc/VCR_OSD_MONO_1.001.ttf");
}

@font-face {
    font-family: "Type Light Sans";
    src: url("/misc/TypeLightSans-KV84p.otf") format("opentype");
    font-weight: lighter;
}

@font-face {
    font-family: "Jupiteroid Regular";
    src: url("/misc/Jupiteroid-Regular.ttf");
}

.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#wrapperIndex {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'indexNavL h1Hd buyNav'
        'imgAsL pMn imgAsR'
        'showcase showcase showcase'
        'pastGames pastGames pastGames'
    ;
    background-blend-mode: multiply;

    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 60% 100%;

}

.pastGamesDiv {
    grid-area: pastGames;

    height: fit-content;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.0rem;

    padding-top: 20rem;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    gap: 9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 50px;
}

html {
    min-height: 100vh;
    background-image:
        linear-gradient(rgb(200, 0, 0), rgb(0, 0, 0), rgb(0, 0, 200)),
        url("/img/spaceBackground.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: 100%;
}

.mobileAnchorIndex {
    display: none;
}

.mobileAbyss {
    display: none;
}

.tintable {
    color: color-mix(in srgb, var(--scroll-tint) 100%, transparent);
    transition: background-color 0.1s linear;
    border-color: color-mix(in srgb, var(--scroll-tint) 100%, transparent);
}

.glow {
    text-shadow: color-mix(in srgb, var(--scroll-tint) 100%, transparent) 0 0 10px;
}


.titleHeader_index {
    grid-area: h1Hd;
    border-style: solid;
    border-color: #8C3781;
    border-width: 0rem;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleHeader_guide {
    grid-area: h1Hd;
    border-style: solid;
    border-color: #8C3781;
    border-width: 1rem;
    background-image: url(/img/guideBG.png);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buyNav {
    grid-area: buyNav;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galNav {
    grid-area: indexNavL;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraphMain {
    grid-area: pMn;
    background-size: 100% 220%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    border-style: solid;
    border-color: #8C3781;
    border-width: 0rem;
}

.imageAsideL {
    grid-area: imgAsL;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageAsideR {
    grid-area: imgAsR;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageAside2L {
    grid-area: imgAs2L;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageAside2R {
    grid-area: imgAs2R;
    object-position: center;


    background-size: 104% 250%;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.h1Title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}

.h1Showcase {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}

.pDescription {
    text-align: left;
    padding-left: 50px;
    font-family: 'Jupiteroid Regular';
    font-size: 2rem;
    padding-top: 10rem;
    text-shadow: #e20e0e 0rem 0.2rem 1rem;
}

.pastGamesArticle {
    display: grid;
    width: 30%;
    height: auto;
    border-style: solid;
    border-width: 0.00rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    border-color: #811e35;
}

.pastGamesArticleMedia {
    grid-area: showcaseEmbed;

    position: relative;

    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;

    border-style: solid;
    border-width: 0.05rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0rem;

    border-radius: 0.5rem;
}

.pastGamesArticleHeading {
    grid-area: showcaseHeading;
    font-family: "Jupiteroid Regular";
    text-align: center;
    font-size: 6rem;
    padding-bottom: 1rem;

    border-width: 0.0rem;
    border-style: solid;
    border-color: #811e35;

    overflow-wrap: break-word;
    word-break: normal;
    margin: 0;
}

.pastGamesArticleParagraph {
    grid-area: showcaseParagraph;
    font-family: "Jupiteroid Regular";
    text-align: left;
    padding-top: 2rem;
    font-size: 1.5rem;

    border-width: 0.0rem;
    border-style: solid;
    border-color: #811e35;

    overflow-wrap: break-word;
    word-break: normal;
    margin: 0;
}


.showcaseDiv {
    grid-area: showcase;

    height: fit-content;

    border-style: ridge;
    border-color: #8C3781;
    border-width: 0.0rem;

    padding-top: 20rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 50px;
}

.showcaseArticle {
    display: grid;

    display: grid;
    width: 100%;
    min-height: 700px;

    grid-template-columns: 45% 35% 1fr;
    grid-template-rows: 1fr 80%;
    grid-template-areas:
        'showcaseEmbed showcaseHeading lookInsideDiv'
        'showcaseEmbed showcaseParagraph lookInsideDiv'
    ;

    align-self: flex-start;

    border-color: #811e35;
}

.showcaseArticleFlipped {
    display: grid;

    display: grid;
    width: 100%;
    min-height: 700px;

    grid-template-columns: 35% 45% 1fr;
    grid-template-rows: 1fr 80%;
    grid-template-areas:
        'showcaseHeading showcaseEmbed lookInsideDiv'
        'showcaseParagraph showcaseEmbed lookInsideDiv'
    ;

    align-self: flex-start;

    border-color: #811e35;
}

.showcaseArticleMedia {
    grid-area: showcaseEmbed;

    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: bottom;

    border-style: solid;
    border-width: 0.05rem;
    border-radius: 0.5rem;
}

.showcaseArticleIFrame {
    height: 40rem;
}

.showcaseArticleHeading {
    grid-area: showcaseHeading;
    font-family: "Jupiteroid Regular";
    text-align: start;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3.5rem;

    border-width: 0.00rem;
    border-style: solid;
    border-color: #811e35;

    overflow-wrap: anywhere;
    word-break: normal;
    margin: 0;
}

.showcaseArticleParagraph {
    grid-area: showcaseParagraph;
    font-family: "Jupiteroid Regular";
    text-align: left;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    padding-top: 2rem;


    border-width: 0.0rem;
    border-style: solid;
    border-color: #811e35;

    overflow-wrap: break-word;
    word-break: normal;
    margin: 0;
}

.showcaseArticleFlipped>.showcaseArticleHeading {
    padding-left: 0rem;
}

.showcaseArticleFlipped>.showcaseArticleParagraph {
    padding-left: 0rem;
}

.emoji {
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
}

.mediaContainer {
    width: 100%;
    height: 400px;
    /* match whatever height you want */
    position: relative;
}

.media {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* for images: crops to fill rather than resizing */
}

.mediaLeftButton,
.mediaRightButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.705);
    color: #FF8BEF;

    border: .05rem solid #3437ff;

    cursor: pointer;

    padding: 0;
    /* IMPORTANT: remove distortion */
}

.mediaLeftButton {
    left: 0;
}

.mediaRightButton {
    right: 0;
}

.mediaButtonImage {
    width: 100%;
    opacity: 0.8;
}

a {
    text-decoration: none;
}

iframe.media {
    border: none;
}

a:hover {
    text-shadow: color-mix(in srgb, var(--scroll-tint) 100%, transparent) 0 0 20px;
}

@media screen and (max-width: 1000px) {
    #wrapperIndex {
        grid-template-columns: 5% 90% 5%;
    }

    .pastGamesDiv {
        grid-area: pastGames;

        height: fit-content;

        border-style: ridge;
        border-color: #8C3781;
        border-width: 0.0rem;

        padding-top: 20rem;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 9rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 50px;
    }
    .showcaseDiv {
        grid-area: showcase;

        height: fit-content;

        border-style: ridge;
        border-color: #8C3781;
        border-width: 0.0rem;

        padding-top: 20rem;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 9rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 50px;
    }


    .pastGamesArticle {
        display: grid;
        width: 100%;
        height: auto;
        border-style: solid;
        border-width: 0.00rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        border-color: #811e35;
    }

    .showcaseArticle {
        display: grid;
        width: 100%;
        height: auto;
        border-style: solid;
        border-width: 0.00rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        border-color: #811e35;
    }

    .showcaseArticleFlipped {
        display: grid;
        width: 100%;
        height: auto;
        border-style: solid;
        border-width: 0.00rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        border-color: #811e35;
    }

    .showcaseDiv, .pastGamesDiv {
        padding-top: 15rem;
        gap: 4rem;
    }

    .showcaseArticle>.showcaseArticleHeading {
    padding-left: 0rem;
    }

    .showcaseArticle>.showcaseArticleParagraph {
        padding-left: 0rem;
    }

    .h1Title {
        font-size: 3rem;
        word-break: break-word;
    }
    .h1Showcase {
        font-size: 3rem;
        word-break: break-word;
        text-align: center;
    }

    .pastGamesArticleHeading, .showcaseArticleHeading{
        font-size: 3rem;
    }

    html {
        min-height: 100vh;
        background-image:
            linear-gradient(rgb(200, 0, 0), rgb(0, 0, 0), rgb(0, 0, 200)),
            url("/img/spaceBackground.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}